.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto 0;
    min-width: 200px;
}

.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 7px;
    background: #ececec;
}

body {
    color: #385170; 
    font-family: "Google Sans", Roboto, arial, sans-serif;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #9fd3c7 !important;
    border: 1px solid #9fd3c7;
}

h1{
    font-size: 22px;
    font-weight: 500;
    height: 26px;
    line-height: 26px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li { 
    list-style: none;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.description:first-letter {
    text-transform: capitalize;
}

.icon {
    position: relative;
    left: -20px;
}

.current-temp {
    color: #142d4c;
    font-size: 64px;
    font-weight: 400;
    position: relative;
    top: 3px;
    right: 10px;
}

.units {
    font-size: 20px;
    line-height: 10px;
    position: relative; 
    top: -30px;
    right: 15px;
}

.links {
    text-decoration: none;
    color: #9fd3c7;
}

.active {
    cursor: default;
    color: #142d4c;
}

.active:hover {
    cursor: default;
    color: #142d4c;
}

.active:visited {
    color: #142d4c;
}

.extra-info {
    padding: 32px 0 0;
}

.forecast {
    margin-top: 30px;
    text-align: center;
}

.forecast-day, .forecast-temp {
    font-weight: 200;
    color: #142d4c;
}

.forecast-temp-min {
   opacity: .5;
}

.forecast-temp {
    font-size: smaller;
}